<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="shopfinder_shop_listing_data_source" xsi:type="string">Saddemlabidi\Shopfinder\Model\ResourceModel\Shop\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Saddemlabidi\Shopfinder\Model\ResourceModel\Shop\Grid\Collection" type="Magento\Cms\Model\ResourceModel\Page\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">shopfinder_shops</argument>
            <argument name="resourceModel" xsi:type="string">Saddemlabidi\Shopfinder\Model\ResourceModel\Shop</argument>
        </arguments>
    </virtualType>

    <virtualType name="Saddemlabidi\Shopfinder\Model\ShopImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">shop/tmp</argument>
            <argument name="basePath" xsi:type="string">shopfinder/shop</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Saddemlabidi\Shopfinder\Controller\Adminhtml\Shop\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Saddemlabidi\Shopfinder\Model\ShopImageUpload</argument>
        </arguments>
    </type>
    <type name="Saddemlabidi\ShopfinderAdminUi\Controller\Adminhtml\Shop\Save">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Saddemlabidi\Shopfinder\Model\ShopImageUpload</argument>
        </arguments>
    </type>

</config>
